@model SecureBank.UI.Models.AddAccountViewModel

@{
}

<h3 class="mt-3">Add Account</h3>

<form method="post">

    <div class="mt-3">
        <label class="form-label">Account Number</label>
        <input type="text" class="form-control" asp-for="AccountNumber" />
    </div>

    <div class="mt-3">
        <label class="form-label">Balance</label>
        <input type="number" class="form-control" asp-for="Balance" />
    </div>

    <div class="mt-3">
        <label class="form-label">Account Type</label>
        <input type="text" class="form-control" asp-for="AccountType" />
    </div>

    <div class="mt-3">
        <label class="form-label">Date Created</label>
        <input type="text" class="form-control" asp-for="CreatedDate" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>